{% extends 'base.html' %}

{% block content %}
<div class="w3-content" style="max-width:1400px">

  <header class="w3-container w3-center w3-padding-32">
    <h1><b>MY BLOG</b></h1>
    <p>Welcome to the blog of Kamil Cecko</p>
  </header>

  <div class="post-list">
    {% for post in object_list %}
        <div class="post-container">
            <div class="w3-card-4 w3-margin w3-white post-card">
                <div class="w3-container">
                    {% for key, value in category_images.items %}
                        {% if key == post.category.name %}
                            <div class="post-image-container">
                                <img src="{{ value }}" alt="{{ post.category.name }}" class="post-image">
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="post-content">
                        <h3><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h3>
                        <h4><a href="{% url 'category' post.category %}">{{ post.category }}</a></h4>
                        <p>{{ post.author.first_name }} {{ post.author.last_name }}, {{ post.post_date|date:"F d, Y" }}</p>
                        <p>{{ post.content|safe }}</p>
                        <p class="read-more">
                            <button class="w3-button w3-padding-small w3-white w3-border">
                                <a href="{% url 'article-detail' post.pk %}"><b>READ MORE »</b></a>
                            </button>
                        </p>
                        <p>
                            <span class="w3-padding-large w3-right"><b>Comments:</b>
                                <span class="w3-tag">{{post.comment_count}}</span>
                            </span>
                        </p>
                        <p>
                            <span class="w3-padding-large w3-right"><b> Likes:</b>
                                <span class="w3-tag">{{post.total_likes}}</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</div>
{% endblock %}
